@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

:root {
  --black: #000000;
  --white: #FFFFFF;
}

html {
  height: -webkit-fill-available;
}
body {
  background-color: var(--white);
  color: var(--black);
  font: 14px 'Lato', 'Noto Sans JP', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
}
